*{
  padding:0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav{
  position: fixed;
  height:200px;
  width:100px;
  background-color: aquamarine;
  color: gray;
}

.APP-a{
  text-decoration: none;
}

.App-use{
  height:1500px;
  width:100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn{

  font-size: 2em;
}